:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fed700;
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
    line-height: 16px;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

